$companyColor: #2196f3;
$backgroundPrimaryColor: white;
$backgroundSecondaryColor: #f5f4fa;
$backgroundFooterColor: #2f303a;
$primaryFontFamily: "Roboto", sans-serif;
$secondaryFontFamily: "Railway", sans-serif;
$textColorBlack: black;
$textColorWhite: white;
$textColorPrimary: #212121;
$textColorSecondary: #757575;
$solutionsBackground: #f5f4fa;
$iconColor: #afb1b8;
